*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

.landing{
background:linear-gradient(135deg, #2E1A47, #1b1030);
color:white;
min-height:100vh;
position:relative;
overflow:hidden;
}

.landing::before{
content:"";
position:fixed;
top:-150px;
left:-150px;
width:400px;
height:400px;
background:#F2B705;
border-radius:50%;
filter:blur(120px);
opacity:0.15;
z-index:0;
}

.landing::after{
content:"";
position:fixed;
bottom:-150px;
right:-150px;
width:400px;
height:400px;
background:#F2B705;
border-radius:50%;
filter:blur(120px);
opacity:0.1;
z-index:0;
}

body{
position:relative;
z-index:1;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
margin:20px;

background:#F2B705;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.logo{
height:65px;
}

.btn{
background:#F2B705;
padding:12px 22px;
border-radius:10px;
text-decoration:none;
color:black;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,0,0,0.3);
}

.hero{
text-align:center;
margin-top:40px;
}

.hero h1{
font-size:48px;
margin-bottom:15px;
text-shadow:0 0 10px rgba(255,255,255,0.2);
}

.hero p{
font-size:20px;
color:#ccc;
margin-bottom:25px;
}

.cta{
background:#F2B705;
padding:14px 30px;
border-radius:12px;
text-decoration:none;
color:black;
font-weight:bold;
font-size:18px;
transition:0.3s;
box-shadow:0 0 15px rgba(242,183,5,0.4);
}

.cta:hover{
transform:scale(1.05);
box-shadow:0 0 25px #F2B705;
}

section{
text-align:center;
margin:40px 20px;
max-width:900px;
margin-left:auto;
margin-right:auto;
}

h2{
font-size:28px;
margin-bottom:15px;
}

.cards{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:20px;
}

.card{
background:rgba(255,255,255,0.08);
padding:25px;
border-radius:15px;
width:240px;
backdrop-filter:blur(10px);
transition:0.3s;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card:hover{
transform:translateY(-8px) scale(1.03);
background:rgba(255,255,255,0.18);
}

.info p,
.vision p{
color:#ddd;
max-width:600px;
margin:auto;
line-height:1.6;
}

.hero h1::after{
content:"";
display:block;
width:80px;
height:4px;
background:#F2B705;
margin:15px auto 0;
border-radius:5px;
}

section{
position:relative;
}

section::after{
content:"";
display:block;
width:60%;
height:1px;
background:rgba(255,255,255,0.1);
margin:30px auto 0;
}